.App {
  text-align: center;
}

.App-card {
  margin: 1em;
}

.App-cards {
  padding-top: 2em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: #486552;
}

p {
  font-size: 18px;
}