.Card {
  text-align: left;
}

.Card-border {
  height: 350px;
  width: 250px;
  background-color: white;
}

.Card-colour {
  height: 200px;
  width: 250px;
}

.Card-text {
  padding-left: 20px;
}

.Card-button {
  padding: 0
}

h1 {
  margin-top: 1em;
  color: black;
  font-family: arial;
  font-weight: bolder;
  font-size: 24px;
  margin-bottom: 0;
  padding-bottom: 0;
}

h3 {
  font-size: 12px;
}

p {
  color: black;
  margin-top: 0;
  font-size: 14px;
}